python:                        # [win]
  - 3.7                        # [win]
c_compiler:                    # [win]
  - vs2017                     # [win]
cxx_compiler:                  # [win]
  - vs2017                     # [win]
vc:                            # [win]
  - 14.1                       # [win]
fortran_compiler_version:      # [win]
  - 2019.0.0                   # [win]
